html, body {
    font-family: Helvetica, Arial, sans-serif;
    color: #EEE; 
    background-color: #111;
}

div#container {
    width:100%;
}

div#top {
    position:fixed;
    font-size:12px;
    top:0px;
    left:0px;
    height:60px;
    width:100%;
    z-index:0;
    overflow:hidden;
    background-color: #444;
}

div#topMargin {
    position:absolute;
    top:0px;
    height:80px;
    width:100%;
    min-width: 900px;
}

div#logo {
    background-image: url("img/qvalogo.png");
    background-repeat:no-repeat;
    height:80px;
    left:0px;
    width:325px;
    background-color: #222;
}

div#topNav {
    position:absolute;
    margin-left:-125px;
    left:50%;
    width:250px;
    top:0px;
    height:80px;
    background-color: #222;
}

div.nav {
    position:absolute;
    height:20px;
    margin-top:20px;
    left:25%;
}

div#userFeatures {
    position:absolute;
    margin-left:-325px;
    left:100%;
    width:325px;

    top:0px;
    height:80px;
    background-color: #222;
}

div#main {
    position:absolute;
    top:100px;

    z-index:-1;

    width:900px;
    margin-left:-450px;
    left:50%;
}

#main img {
    max-width:100%;
}

div#lightbox {
    background-color: #000;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center; 
    width:100%;
    height:100%;
}

.photoInfo h1{
    line-height: 0px;
}
.photoInfo h2{
    line-height: 0px;
}
.photoInfo p{
    color: #AAA;
    line-height: 100%;
}

.photoFeatures {
    margin-top: 6px;
    text-align: right;
    line-height:0px;
}

.image {
    float:left;
    position:relative;
    width:275px;
    height:275px;
    background-color: #444;
    margin:12px 12px 12px 12px;
    overflow:hidden;
    background-size:cover;
}

fieldset {
    border: 0px;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

form input {
    font-size:12px;
}

A:link {
    text-decoration: none;
    color: #33ccff;}
A:visited {
    text-decoration: none;
    color: #33ccff;}
A:active {
    text-decoration: none;
    color:inherit;}
A:hover {
    text-decoration: none;
    color: #FFF;}

